
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <br/>
    <h1> Yleana Academy Coding Exercise: Customer Database</h1>
    <br/>
    <div> 
        <table class="table table-bordered table-condensed table-striped">
            <tr>
                <td>
                    <!-- Button link to create a new customer to the database-->
                    @Html.ActionLink("Create A New Customer", "Index", "Customer", null, new { @class = "btn btn-success" })
                </td>
                <td>
                    <!-- Button link to see the current customer in the database-->
                    @Html.ActionLink("Show Current Customers", "Show", "Customer", null, new { @class = "btn btn-success" })
                </td>
            </tr>

        </table>
        
    </div>
</body>
</html>
